body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1, h2 {
  margin: .8rem 0;
}

h3, h4, h5, h6 {
  margin: .3rem 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-notif {
  margin: .5rem;
  padding: .3rem 1rem;
  color: #fff;
  font-weight: 400;
  border-radius: 8px;
}

.login-false {
  background-color: #dc3545;
}

.login-true {
  background-color: #198754;
}

label {
  margin: .6rem 0;
}

.motto-live {
  width: 200px;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}